<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h2>LuxNest</h2>
                <p>Your one-stop shop for amazing products!</p>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#section1">Home</a></li>
                    <li><a href="#section2">About Us</a></li>
                    <li><a href="#section3">Services</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="terms.html">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>Email: <a href="mailto:info@myparallaxsite.com">info@myparallaxsite.com</a></p>
                <p>Phone: +(212) 649244524</p>
                <p>Address: 123 Main Street, Suite 100, Cityville, ST 12345</p>
            </div>
            <div class="footer-social">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/YourPage" target="_blank" rel="noopener noreferrer">facebook<i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/YourProfile" target="_blank" rel="noopener noreferrer">twitter<i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/YourProfile" target="_blank" rel="noopener noreferrer">instagram<i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/YourProfile" target="_blank" rel="noopener noreferrer">linkedin<i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 My Parallax Site. All rights reserved.</p>
        </div>
    </footer>
    
    </footer>
    
     
</body>
</html>