
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">


</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><a href="{%  url 'myapp:home' %}">LuxNest</a></h1>
            <nav>
                <ul>
                    <li><a href="{%  url 'myapp:home' %}">Home</a></li>
                    <li><a href="{% url 'myapp:product_list' %}">Shop</a></li>
                    <li><a href="#section3">Contact us</a></li>
                    <li><a href="{% url 'myapp:profile' %}">Account</a></li>
                    <li class="cart-icon"><a href="{% url 'myapp:cartTab' %}">
                         <img src="{% static 'img/icon_cart.png' %}" alt="Cart Icon">
                         <span class="cart-count">{{ cart|length }}</span> 
                        </a> <!-- This will display the number of items -->
                     </li>  
                </ul>
            </nav>
        </div>
    </header>
  
  </body>
</html>