<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/order.css' %}">
</head>
<body>
    {% include  "profile.html"  %}


<div class="order">
    <h1>ORDER HISTORY</h1>
    <table> 
        <thead>
            <tr>
                <th>order</th>
                <th>quantity</th>
                <th>total</th>
                <th>date</th>
    
            </tr>
        </thead>
        
        <tbody>
            {% if products %}
    
            {% for pro in products  %}
                        <tr>
                            <td><div class="product">
                 <img src="{{ pro.product.image.url }}" alt="{{ pro.product.nom }}">
                                <p>{{pro.product.prix}}</p>
                                <p>{{ pro.product.nom }}</p>
                            </div></td>
                            <td>{{ pro.qte  }}</td>
                            <td>{{ pro.total }}</td>
                            <td>{{ pro.order_time }}</td>
                        </tr>
                        {%endfor%}
            
            {%else%}
            <tr>
                <td colspan="4"style="text-align: center; font-size: 24px; font-weight: bold; padding: 20px;">No items found in your order history</td>
            </tr>
            {% endif %}
        </tbody>
            
    
    </table>
    
        </div>
</body>
</html>
