<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    {% include "header.html" %}
    
    <div class="container">
        
         <div class="list-product">
             {% for product in products %}
            <div class="item">
                <img src="{{ product.image.url }}" alt="Example Image">
                <h1>{{ product.nom }}</h1>
                <div class="price">${{ product.prix }}</div>
                <button class="addtocard" value='{{ product.id }}'>
                    Add To Card
                </button>
            </div>
            {% endfor %}
         </div>
    </div>

    
        
    <script>
        $(document).on('click','.addtocard',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'myapp:add' %}',
                data:{

                    product_id:$(this).val(),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action:'post'
                },
                success:function(json){
                    document.getElementById('span_quantity').textContent=json.length;
                    if("last_product" in json){
                    let img=document.createElement('img');
                    let name=document.createElement("h1");
                    let price=document.createElement("div");
                    let select_qte=document.querySelector('select.quantity').cloneNode(true)
                    img.src= json.last_product.img;
                    name.textContent=json.last_product.name;
                    price.textContent="$"+json.last_product.price;
                    
                    let list=document.getElementById("shop_cart");
                    list.append(img,name,price,select_qte);
                    document.getElementById("cartTab").appendChild(list)
                    }

                    console.log(json);
                

                    
                },

                error:function(xhr,errmsg,err){

                }
            });
        })
       
        $(document).on('change','#category',function(e){
            e.preventDefault();
            let category = $(this).val();
            $.ajax({
                type:'POST',
                url: '{% url 'myapp:category' %}',
                data:{
                    category:category,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'category'
                },

                success:function(json){
                    console.log(json.products)
                    let list_products=document.querySelector('.list-product');
                    list_products.innerHTML='';
                    let products=json.products
                    products.forEach(product=>{
                        let item=document.createElement("div")
                        item.className='item';
                        
                        item.innerHTML=`
        
                        <img src="${product.image}" alt="${product.nom}">
                        <h1>${product.nom}</h1>
                        <div class="price">$${product.prix}</div>
                        <button class="addtocard" value='${product.id}'>
                        Add To Card
                        </button>
                        </div>
                        `
                        list_products.append(item)
                        
                    })
                }
            
            })

        })
        
        
       
    </script>

    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
