<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">


    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <section class="parallax-section" id="section1" style="background-image: url('{% static 'img/profile.jpg' %}');">
                <div class="overlay">
            <h1>Parallax Section 1</h1>
            <p>This is a sample parallax scrolling effect.</p>
        </div>
    </section>

    
    <div class="account">
       
        <div class="content">
            <a href="{% url 'myapp:orders' %}"><span class='span1'>Orders</span></a>
        <a href="{% url 'myapp:profile'%}"><span class='span2 border active'>Account settings</span></a>
        <form action="{% url 'authen:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
    </div> 
   
    
    <script>

let path = window.location.pathname;
let item;


if (path === '/myapp/orders/') {
    item = document.querySelector('.span1');
} else if (path === '/myapp/profile/') {
    item = document.querySelector('.span2');
}
document.querySelector('.span2').classList.remove('border','active')

    item.classList.add('border');
    // Delay adding the 'active' class to trigger the animation
    setTimeout(() => {
        item.classList.add('active');
    }, 10);

     
    </script>
    
</body>
</html>