<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="account hidden_container">
       
        <div class="content">
            <span class='span1'>Orders</span>
        <span class='span2 border active'>Account settings</span>
        <form action="{% url 'authen:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
    </div> 
    <div class="account_update">
        <div class="title">Account information</div>
        <div class="form">
            <form method="POST" >
                {% csrf_token %}
                <div class='names'>
                    <div class="input">
                        <div class="label">FIRST NAME</div>
                        <input type="text" name="first_name">
                        
                    </div>
    
                    <div class="input">
                        <div class="label">LAST NAME</div>   
                        <input type="text" name="last_name">
                    </div>
                 
                </div>
                
                    <div class="input">
                        <div class="label">EMAIl</div>    
                        <input type="email" name="email"></div>
                    <div class="input">
                        <div class="label">UPDATED PASSWORD</div>
                        <input type="password" name="password">
                      </div>
                
                
                  <input type="submit" name="update_info" value="UPDATE DETAILS">               
                    
            </form>
        </div>
    </div>
   
    </div>
    <div class="order_history hidden_container">
<h1>ORDER HISTORY</h1>


    </div>
</body>
</html>